.Crew {

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B0D17;
    min-height: 100vh;

    h5 {
        padding-top: 100px;
    }

    img {
        height: 300px;
        border-bottom: 1px solid grey;
    }

    .crew-cont {

        position: absolute;
        bottom: 0;

        .crew-nav {
            display: flex;
            justify-content: center;
            gap: 15px;
    
            .dot-nav {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: grey;
                cursor: pointer;
            }
        }

    }    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .Crew {
        background-image: url("http://localhost:3000/assets/crew/background-crew-tablet.jpg") !important;

        img {
            height: 400px;
        }

        .crew-cont {
            display: flex;
            flex-direction: column-reverse;


            .crew-inside-cont {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}

@media screen and (min-width: 1024px)  {

    .Crew {
        background-image: url("http://localhost:3000/assets/crew/background-crew-desktop.jpg") !important;

        img {
            width: 400px;
            height: 500px;
            border-bottom: none;
        }

        .crew-cont {
            display: flex;
            flex-direction: row-reverse !important;
            justify-self: center;
            align-items: flex-start;
            padding: 0 30px;

            .crew-inside-cont {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}