.Crew {

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0D17;
    height: 100vh;

    img {
        width: 50%;
        border-bottom: 1px solid grey;
    }

    .crew-nav {
        display: flex;
        justify-content: center;
        gap: 15px;

        .dot-nav {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: grey;
        }
    }
}