.Destination {

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B0D17;
    min-height: 100vh;

    img {
        width: 50%;
    }

    h5 {
        padding-top: 100px;
    }

    .dest-cont {
        margin: 70px 25px 0 25px;

        .dest-inside-cont {
            margin-top: 25px;
            padding: 0 50px;
        }

        .dest-nav {
            display: flex;
            justify-content: center;
            gap: 15px;
            color: grey;

            div:first-child {
                color: white;
                border-bottom: 3px solid white;
            }

            div {
                cursor: pointer;
            }
        }
    
        .dest-descr {
            border-bottom: 1px solid grey;
            padding-bottom: 20px;
        }

        .avg-est {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .Destination {
        background-image: url("http://localhost:3000/assets/destination/background-destination-tablet.jpg") !important;

        .dest-inside-cont {
            padding: 0 150px !important;
        }

        .avg-est {
            flex-direction: row !important;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1024px)  {

    .Destination {
        background-image: url("http://localhost:3000/assets/destination/background-destination-desktop.jpg") !important;
        
        img {
            width: 550px;
        }

        h5 {
            padding-left: 150px;
        }

        .dest-cont {
            display: flex;
            justify-content: center;
            padding: 0 50px;
            padding-left: 150px;

            .dest-inside-cont {
                text-align: left;
                padding: 0 100px;
            }

            .dest-nav {
                display: flex;
                justify-content: left;
                gap: 15px;
    
            }

            .avg-est {
                flex-direction: row !important;
                justify-content: left;
            }

        }
    }
}