
.HomePage {

    background-image: url("http://localhost:3000/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B0D17;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    header {
        padding: 100px 50px 0 50px;
    }

   

    div {


        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 100%;

        button {
            box-sizing: content-box;
            border: none;
            border-radius: 50%;
            background-color: #FFFF;
            width: 150px;
            height: 150px;
        }
    
        button:hover {
            border: 30px solid grey;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .HomePage {
        background-image: url("http://localhost:3000/assets/home/background-home-tablet.jpg");
    
        header {
            padding: 100px 150px 0 150px;
        }
    }
}

@media screen and (min-width: 1024px)  {

    .HomePage {
        background-image: url("http://localhost:3000/assets/home/background-home-desktop.jpg");
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        header {
            text-align: left;
            padding: 0 250px;
        }

        div {
            position: static;
        }
    }
}