
.HomePage {

  //  background-image: url("../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0D17;
    min-height: 100vh; 

    header {
        padding: 70px 20px 0 20px;
    }

   

    div {

        position: absolute;
        bottom: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 100%;

        button {
            box-sizing: content-box;
            border: none;
            border-radius: 50%;
            background-color: #FFFF;
            width: 150px;
            height: 150px;
        }
    
        button:hover {
            border: 30px solid grey;
        }
    }
}