.NavMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 20px;

    #nav-style-line { 
        display: none;
    }

    #ls-nav {
        display: none;  
    }

    #nav {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100vh;
        width: 65%;
        background-color: rgba(11, 13, 23, 0.9);
        backdrop-filter: blur(5px);
        

        #close-icon {
            position: absolute;
            right: 20px;
            top: 30px;
        }

        nav {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: start;
            margin-left: 25px;

            a {
                text-decoration: none;
                color: white;
                font-size: larger;

                span {
                    color: white;
                    font-weight: bold;
                }
            }
        }

    }
}
// and (max-width: 1023px)
@media screen and (min-width: 768px) {

    .NavMenu {
        color: red;

        #menu-icon {
            display: none !important;
        }

        #nav {
            display: none !important;
        }

        #ls-nav {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            right: 0;
            gap: 20px;
            padding: 0 50px;
            background-color: rgba(11, 13, 23, 0.7);
            backdrop-filter: blur(5px);

            a {
                text-decoration: none;
                color: white;
                padding: 20px 0;
            }
        }
    }
}

@media screen and (min-width: 1024px)  {

    .NavMenu {
        color: blue;

        #nav-style-line {
            display: block;
            position: absolute;
            border-bottom: 1px solid grey;
            z-index: 1;
            top: 30px;
            left: 150px;
            right: 510px;
            height: 1px;
        }
    }
}