.Technology {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B0D17;
    min-height: 100vh;

    img {
        width: 100%;
    }

    .img-portrait {
        display: none;
    }

    h5 {
        padding-top: 100px;
    }

    h3 {
        margin-bottom: 25px;
    }

    .tech-cont {
        margin-top: 70px;

        .tech-descr {
            padding: 15px 50px;
        }

        .tech-nav {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 25px 0;

            div:first-child {
                background-color: white;
                color: black;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border: 1px solid white;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .Technology {
        background-image: url("http://localhost:3000/assets/technology/background-technology-tablet.jpg") !important;
        
        .tech-descr {
            padding: 0 150px !important;
        }
    }
}

@media screen and (min-width: 1024px)  {

    .Technology {

        background-image: url("http://localhost:3000/assets/technology/background-technology-desktop.jpg") !important;

        h5{
            padding-left: 150px;
        }

        .img-landscape {
            display: none;
        }

        .img-portrait {
            display: block;
            width: auto;
            height: 400px;
        }

        .tech-cont {
            display: flex;
            flex-direction: row-reverse;
            gap: 50px;

            .tech-inner-cont {
                display: flex;
                gap: 50px;
                padding-left: 150px;
                text-align: left;

                .tech-nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 25px;

                    div {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}