.Technology {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B0D17;
    min-height: 100vh;

    img {
        width: 100%;
    }

    .img-portrait {
        display: none;
    }

    h5 {
        padding-top: 100px;
    }

    .tech-cont {
        margin-top: 70px;

        .tech-nav {
            display: flex;
            justify-content: center;
            gap: 10px;

            div:first-child {
                background-color: white;
                color: black;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border: 1px solid white;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .Technology {
        background-image: url("http://localhost:3000/assets/technology/background-technology-tablet.jpg") !important;
    }
}

@media screen and (min-width: 1024px)  {

    .Technology {

        background-image: url("http://localhost:3000/assets/technology/background-technology-desktop.jpg") !important;

        .img-landscape {
            display: none;
        }

        .img-portrait {
            display: block;
        }

        .tech-cont {
            display: flex;
            flex-direction: row-reverse;

            .tech-inner-cont {
                display: flex;

                .tech-nav {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}